@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Montserrat:wght@300;400;500&display=swap");
:root {
  --bg-colour: #333745;
  --highlight-color: #e63462;
  --secondary-color: #fe5f55;
  --text-color: #eef5db;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bungee Outline", cursive;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: var(--bg-colour);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#logo {
  float: left;
  color: var(--text-color);
  font-family: "Bungee Outline", cursive;
  font-size: 3em;
  margin: 8px 0 0 1em;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}
.hero-page {
  height: 100vh;
}
.nav-links li {
  display: inline-block;
  padding: 20px 40px 20px 0px;
}
.hero-box {
  background-image: url(./img/hero-img.jpg);
  background-size: cover;
  height: 100vh;
  width: 1440px;
  object-fit: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.hero-overlay {
  position: absolute;
  top: 25%;
  right: 10%;
}
.hero-overlay h1 {
  font-size: 5em;
  margin-bottom: 20px;
}
.hero-overlay p {
  font-size: 2em;
  margin-left: 1%;
  margin-bottom: 20px;
}

.menu-section {
  background-color: var(--bg-colour);
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
article {
  margin-top: 15px;
  margin-left: 100px;
}
.menu-text {
  text-transform: uppercase;
  font-family: "Bungee Outline", cursive;
  font-size: 4em;
  transform: rotate(-90deg);
  color: var(--text-color);
}
#snacks-text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  right: 87%;
}
#mains-text {
  position: absolute;
  top: 23%;
  left: 29%;
}
#cocktails-text {
  position: absolute;
  top: 30%;
  left: 57%;
}

.menu-img {
  height: 250px;
  width: 250px;
  padding: 0;
  margin: 0;
}

.final-section {
  background-color: white;
  height: 100vh;
}

#snack-page {
  height: 250px;
  width: 750px;
  background-color: var(--highlight-color);
  margin-left: 40px;
  margin-top: 40px;
}
#main-page {
  height: 250px;
  width: 750px;
  background-color: var(--secondary-color);
  margin-left: 25%;
  margin-top: 40px;
}
#cocktail-page {
  height: 250px;
  width: 750px;
  background-color: var(--bg-colour);
  margin-left: 45%;
  margin-top: 40px;
}
